title {
    font-family: "Oswald", "Open Sans", sans-serif;
}
body {
    font-family: "Oswald", "Open Sans", sans-serif;
}
.body2 {
    margin-right: 5%;
    margin-left: 5%;
}
.hvs {
    padding: 20px;
    background-color: #004175;
    color:white;
    border-bottom: 5px solid #89DEEF;
    font-family: "Oswald", "Open Sans";
}
.character {
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    gap: 3%;
    flex: 1 0 30%;
}
.button {
    background-color: #89DEEF;
    display: inline-flex;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    font-size: small;
}
.floofs-top {
    display:flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
}
.floofs-middle {
    display:flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
}
.floofs-bottom {
    display:flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
}
footer {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    background-color: #A6A9F0;
}
p2 {
    text-align: center;
    background-position: center;
}
/* footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.footer1 {
    position: relative;
    text-align: center;
    color: white;
}
.donate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.footer2 {
    position: relative;
    text-align: center;
    color: white;
}
.volunteer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.footer3 {
    position: relative;
    text-align: center;
    color: white;
}
.location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
} */